html {
    background-color: white;
    text-align: center;
    color: black;
}

body {
    margin: 0;
    color: black;
    font-family: "PlemolJP";
}

@font-face {
    font-family: "PlemolJP";
    src: local(""), url("./assets/fonts/PlemolJP-Regular.ttf") format("ttf");
}
